<section>

  <div class="login-container">
    <h2>Survey</h2>
    <form [formGroup] = "loginForm" (ngSubmit)="login()">
      <input formControlName="username" type="email" placeholder="email">
      <div class="valid"
        *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
        * email required
      </div>
      <input formControlName="password" type="password" placeholder="password">
      <input type="submit" value="login" [disabled]="loginForm.invalid && loginForm.touched">
      <div>
        <span>Click here to </span>
        <a [routerLink]="['../register']">register</a>
      </div>
    </form>
  </div>

</section>
