<section>
  <h3>Add Questions:</h3>

  <div>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <textarea formControlName="questionContent" placeholder="enter question..."></textarea>
      <div class="valid"
           *ngIf="questionForm.get('questionContent')?.hasError('required') && questionForm.get('questionContent')?.touched">
        * required
      </div>
      <div class="option-btn-container">
        <h4>options:</h4>
        <button (click)="addOption($event)">&plus;</button>
      </div>

      <div formArrayName="options">
        <div *ngFor="let option of tmpOption().controls;index as i" [formGroupName]="i">
          <textarea formControlName="optionContent" placeholder="enter options..."></textarea>
          <button (click)="removeOption(i)">&cross;</button>
        </div>
      </div>

      <input type="submit" value="submit" [disabled]="questionForm.invalid && questionForm.touched">

    </form>

  </div>



</section>
